---
import Layout from "../layouts/Layout.astro";
import Hero from "../components/Hero.astro";
import AboutSection from "../components/AboutSection.astro";
import ExperienceSection from "../components/ExperienceSection.astro";
import ContactSection from "../components/ContactSection.astro";
---

<Layout title="Ruairidh">
  <main>
    <Hero />
    <AboutSection />
    <ExperienceSection />
    <ContactSection />
  </main>
</Layout>
