---
import SectionLayout from "../layouts/SectionLayout.astro";
---

<SectionLayout title="About">
  <p>
    Lorem ipsum, dolor sit amet consectetur adipisicing elit. Tenetur sit porro
    adipisci quaerat magnam excepturi magni officiis, tempora corporis tempore.
  </p>
  <br />
  <p>
    Lorem ipsum, dolor sit amet consectetur adipisicing elit. Tenetur sit porro
    adipisci quaerat magnam excepturi magni officiis, tempora corporis tempore.
  </p>
  <br />
  <p>
    Lorem ipsum, dolor sit amet consectetur adipisicing elit. Tenetur sit porro
    adipisci quaerat magnam excepturi magni officiis, tempora corporis tempore.
  </p>
</SectionLayout>
