---
import { Image } from "astro:assets";
import headshot from "../images/Headshot_Cropped.jpeg";
---

<section>
  <div class="container hero">
    <div class="about">
      <h1 class="text-gradient">Ruairidh Cavaye</h1>
      <h2>(Just a) Front-end Developer</h2>
      <p style={{ fontWeight: 300 }}>Some text here</p>
      <a class="button-link">Contact</a>
    </div>

    <Image class="headshot" src={headshot} alt="Me." loading="eager" />
  </div>
</section>

<style>
  .container {
    margin: auto;
    padding: 1rem;
    width: 800px;
    max-width: calc(100% - 2rem);
    font-size: 20px;
    line-height: 1.6;
  }
  h1 {
    font-size: 3rem;
    font-family: "Poppins";
    font-weight: normal;
    line-height: 1;
    text-align: center;
  }

  h2 {
    font-weight: normal;
    font-size: 1.5rem;
  }
  section {
    background-color: rgb(var(--accent-light));
    position: relative;
    padding-block: 4rem;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='28' height='49' viewBox='0 0 28 49'%3E%3Cg fill-rule='evenodd'%3E%3Cg id='hexagons' fill='%239C92AC' fill-opacity='0.1' fill-rule='nonzero'%3E%3Cpath d='M13.99 9.25l13 7.5v15l-13 7.5L1 31.75v-15l12.99-7.5zM3 17.9v12.7l10.99 6.34 11-6.35V17.9l-11-6.34L3 17.9zM0 15l12.98-7.5V0h-2v6.35L0 12.69v2.3zm0 18.5L12.98 41v8h-2v-6.85L0 35.81v-2.3zM15 0v7.5L27.99 15H28v-2.31h-.01L17 6.35V0h-2zm0 49v-8l12.99-7.5H28v2.31h-.01L17 42.15V49h-2z'/%3E%3C/g%3E%3C/g%3E%3C/svg%3E");
  }

  .headshot {
    height: fit-content;
    width: fit-content;
    max-height: 300px;
    aspect-ratio: auto;
    border-radius: 100%;
    object-fit: cover;
  }
  .hero {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    position: relative;
    z-index: 1;
  }

  .text-gradient {
    background-image: var(--accent-gradient);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-size: 400%;
    background-position: 0%;
  }

  .button-link {
    padding: 0.5em 1em;
    background-color: rgb(var(--primary-color));
    display: inline-block;
    color: white;
    width: fit-content;
    margin-block: 1rem;
    cursor: pointer;
  }
  .button-link:hover,
  .button-link:focus-visible {
    /* text-decoration: underline;
    text-underline-offset: 4px; */
    background: hsl(from rgb(var(--primary-color)) h s 20%);
    scale: 1.02;
  }

  .about {
    display: grid;
    gap: 1rem;
  }

  @media screen and (max-width: 794px) {
    .hero {
      flex-direction: column-reverse;
      text-align: center;
    }

    .button-link {
      width: 100%;
    }
    .about {
      justify-content: center;
    }
    h1 {
      font-size: 2.5rem;
    }
    h2 {
      font-size: 1.5rem;
    }
  }
</style>
