---
interface Props {
  title: string;
}
const { title } = Astro.props;

const idFromTitle = title
  .toLowerCase()
  .replaceAll(/[^\s\w]/g, "")
  .replace(/\s/g, "-");
---

<section class="container" id={idFromTitle}>
  <h2>{title}</h2>
  <slot />
</section>

<style>
  h2 {
    --padding-bottom: 0.75rem;

    font-size: 2rem;
    padding-block-end: var(--padding-bottom);
    color: rgb(var(--primary-color));
    position: relative;
    width: fit-content;
  }

  h2::after {
    content: "";
    background-color: #c9e9ff;
    height: 16px;
    width: calc(100% + 10px);
    position: absolute;
    inset: auto 0 calc(var(--padding-bottom) + 8px) -5px;
    z-index: -1;
    display: inline-block;
  }
</style>
